@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<div class="container">
    <header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later or contact our support team at <a class="text-primary" href='mailto:support@ez2buy.tech'>support@ez2buy.tech</a></p>
</header>
</div>
