@model IEnumerable<Ez2Buy.DataAccess.Models.Category>
@{
	ViewData["title"] = "Categories Page";
	Layout = "~/Areas/Admin/Views/_DashboardLayout.cshtml";
}

@* i added partial view for notification in _layout so we dont need to add it in each file *@

<!--begin::App Content Header-->
<div class="app-content-header mt-3 mx-2">
	<!--begin::Container-->
	<div class="container-fluid">
		<!--begin::Row-->
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Categories</h3></div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-end">
					<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
					<li class="breadcrumb-item active" aria-current="page">Categories</li>
				</ol>
			</div>
		</div>
		<!--end::Row-->
	</div>
	<!--end::Container-->
</div>
<!--end::App Content Header-->


<div class="container">
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Category List</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">

			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Category" asp-action="Create" class="btn rounded btn-primary p-2">
					<i class="bi bi-plus-circle fs-6"></i> Create New Category
				</a>
			</div>

		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Category Name</th>
					<th>Display Order</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.OrderBy(u => u.DisplayOrder))
				{
					<tr>
						<td>@item.Name</td>
						<td>@item.DisplayOrder</td>
						<td class="text-center">
							<div class="w-75 btn-group justify-content-center" role="group">
								<a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square me-2"></i>Edit</a>
								<a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="bi bi-trash me-2"></i>Delete</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
</div>